<!--
  Generated template for the EstablishmentList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="false">  
  <ion-navbar color="primary">
    <ion-row>
      <ion-col col-2>
        <button ion-button color="white" clear menuToggle class="margin-top-10">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-10 >
        <ion-card>
        <ion-searchbar (input)="search($event)" placeholder="Pesquisar salão ou endereço"  #searchbar class="margin-top-5"></ion-searchbar>
        </ion-card>
      </ion-col>
    </ion-row> 
  
  </ion-navbar>
</ion-header>

<ion-header no-border  *ngIf="true">  
  <ion-navbar color="transparent">
    
  <ion-card>
  <ion-row>
    <ion-col col-2>
      <button ion-button color="dark" menuToggle class="margin-top-5">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-10>
      <ion-searchbar (input)="search($event)" placeholder="Pesquisar salão ou endereço"  #searchbar class="margin-top-5"></ion-searchbar>
    </ion-col>
  </ion-row>
  </ion-card>  
          
  </ion-navbar>
</ion-header>



<ion-content style="position: relative">
  <div class="spinner main" *ngIf="showSpinner">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="!showSpinner">
    <div class="background-fixed text-center">
      <img src="https://developers.google.com/maps/documentation/android-api/images/camera-angle-45-shot.png?hl=pt-br" style="width: 100%; height: 100%" />
      <iframe *ngIf="false"
        width="400"
        height="400"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/key=AIzaSyBey7xhypFumeGwAPSTGRcxPPBQt39XQC4&place?q=Space+Needle,Seattle+WA" allowfullscreen>
      </iframe>
    </div>
    
    

          <ion-list style="margin-top: 60vh !important; position: absolute; width: 100%; box-shadow: 0px -3px 10px rgba(0,0,0,0.4)">
            <ion-item *ngFor="let establishment of establishments">  
              <ion-thumbnail item-left (click)="goEstablishmentDetails(establishment.id)">
                <img src="http://lorempixel.com/100/100/city/">
              </ion-thumbnail>
              <div (click)="goEstablishmentDetails(establishment.id)">
                <h2>{{ establishment.description }}</h2>
                <p>5 km</p>
              </div>
              <button ion-button icon-only clear round item-right large (click)="goOrderWorkflow(establishment.id)" >
                <ion-icon name="calendar"></ion-icon>
              </button>
            </ion-item>
          </ion-list>
        

  </div>
  


</ion-content>
