<ion-header>  
  <ion-navbar color="white">
    
  <ion-row>
    <ion-col col-2>
      <button ion-button icon-only clear color="dark" (click)="dismiss()">
        <ion-icon name="arrow-back" class="margin-top-1 margin-left-4"></ion-icon> 
      </button>
    </ion-col>
    <ion-col col-10>
      <ion-searchbar (input)="search($event)" placeholder="Pesquisar Funcionários"  #searchbar class="margin-top-8"></ion-searchbar>
    </ion-col>
  </ion-row>  
    
  </ion-navbar>
</ion-header>


<ion-content style="position: relative">
  <div class="spinner main" *ngIf="showSpinner">
    <ion-spinner></ion-spinner>
  </div>
	
  <ion-list #contentList *ngIf="!showSpinner">
    <ion-item *ngFor="let employee of employees" (tap)="dismiss(employee.id)">
      <ion-avatar item-left>
        <img [src]="employee.user.data.avatar" *ngIf="employee.user.data.avatar != null">
        <img src="assets/img/avatar.png" *ngIf="employee.user.data.avatar == null">
      </ion-avatar>
      {{ employee.user.data.first_name}}
    </ion-item>
  </ion-list>

</ion-content>
